<launch>
    <group ns="party_1">
        <group ns="instance_1">
            <group ns="erlecopter_2">
	            <node name="rotors_kbd_control" pkg="rotors_joy_interface" type="rotors_keyboard_interface" output="screen">
		            <remap from="odometry" to="odometry_sensor1/odometry" /> 
	            </node>
            </group>
       </group>
    </group>
</launch>
